@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'special-elite', sans-serif;
    box-sizing: border-box;
}

body{
    background:#2832c2;
    height: 100vh;
    width: 100%;
    position: relative;
}

.heading{
    color:cadetblue;
    margin: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 300%;
    text-decoration:underline;
    text-shadow: 2px 2px black;
    font-weight: 700;

}
.container{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    display:flex;
}

